<mdb-card >
  <!--Card image-->
  <!-- <mdb-card-img *ngIf="project.photoUrl" src="{{ project.photoUrl }}" alt="Card image cap" class="waves-light"
    mdbWavesEffect></mdb-card-img> -->
  <!-- <mdb-card-img *ngIf="!project.photoUrl" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>{{ portfolio.name }}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text class="mt-3">       
      <p class="display-4">{{ portfolio.investment | currency }}</p>
    </mdb-card-text>

    <div *ngIf="overHunderPercentFlag" 
      class="alert alert-danger mt-3" role="alert">
        The sum of allocations <b>{{ overHunderPercentValue }}%</b> is over 100%
    </div>

    <app-securities-list
     [securities]='portfolio.securities' 
     (deleteSecurity)='onDeleteSecurity($event)'
      class="mt-3 overflow-auto card">
    </app-securities-list>

    <mdb-card-text *ngIf="leftoverCash > 0" class="my-3">       
        <h5>Leftover Cash : {{ leftoverCash | currency }}</h5>
      </mdb-card-text>

    <div class="text-left">
      <a *ngIf="editable" mdbBtn color="primary" mdbWavesEffect (click)="onEdit()">Edit</a>
      <a *ngIf="editable" mdbBtn color="success" mdbWavesEffect (click)="onRebalance()">Rebalance</a>
      <a mdbBtn class="red lighten-1 white-text" mdbWavesEffect (click)="onDelete()">Delete</a>
    </div>
  </mdb-card-body>
</mdb-card>