<div *ngIf="securities" class="z-depth-1">
    <table class="table table-striped table-responsive-md btn-table" mdbTable borderless="true">
      <thead style="background-color: transparent">
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th>Currency</th>
          <th>USD</th>
          <th>Percent</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let security of securities; trackBy: trackByFn">
          <th scope="row">{{ security.symbol }}</th>
          <td>{{ security.name }}</td>
          <td>{{ security.price }}</td>
          <td>{{ security.currency }}</td>
          <td>{{ security.usPrice }}$</td>
          <td>{{ security.percentage }} %</td>

          <!-- <td>
            <a (click)="onEdit(customer)" class="mr-2"><mdb-icon fas icon="edit"></mdb-icon></a>
            <a (click)="onDelete(customer)"><mdb-icon fas icon="trash"></mdb-icon></a>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  