<!-- Search form -->

<form class="md-form form-sm active-cyan-2 mt-2">
    <div class="d-flex align-items-center">
        <div class="p-2 flex-grow-1">
            <input [(ngModel)]="searchInput" 
                   (keydown.enter)="search()"
                   name="search" class="form-control form-control-sm mr-3 " type="text" placeholder="Search"
                   aria-label="Search">
        </div>
        <div class="ml-auto p-2">
            <i (click)="search()"
                class="fas fa-search" aria-hidden="true">
            </i>
        </div>
    </div>
    <div *ngIf="noResultsFound" 
            class="alert alert-light" role="alert">
        No results found!
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" >
        <div class="spinner-grow text-primary" role="status" style="width: 2rem; height: 2rem;">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="securities$ | async" 
        class="list-group list-group-flush">
        <button *ngFor="let security of securities$ | async;"
                (click)="selectSecurity(security)"
                type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
            <div>
            {{ security.symbol  }} - {{ security.name  }}  
            </div>
            <div>
                <i class="fas fa-plus"></i>
            </div>
        </button>
    </div>
</form>


